<div class="container">
    <h1>NUEVA INCIDENCIA</h1>
    <div id="formulario">
        <!--Formulario con requerimientos, si no se rellenan todos los campos el boton no se activara-->
        <form [formGroup]="perfileForm" (ngSubmit)="guardar()">

            <fieldset class="form-group">

                <div class="col-sm-12">
                    <label class="control-label" for="nombreCompleto">AUTOR DEL REGISTRO: </label>
                    <input type="text" class="form-control" formControlName="autor" name="autor" required="">
                </div>

            </fieldset>

            <fieldset class="form-group">

                <div class="col-sm-5" style="margin-left: 30%;">
                    <label class="control-label" for="nif">FECHA: </label>
                    <input type="date" class="form-control" formControlName="fecha" name="fecha" required=""/>
                </div>

            </fieldset>

            <fieldset class="form-group">

                <div class="col-sm-12">
                    <label class="control-label" for="nif">LUGAR: </label>
                    <input type="text" class="form-control" formControlName="lugar" name="lugar" required=""/>
                </div>

            </fieldset>

            <fieldset class="form-group">

                <div class="col-sm-12">
                    <label class="control-label" for="nif">DESCRIPCION: </label>
                    <input type="text" class="form-control" formControlName="descripcion" name="descripcion" required=""/>
                </div>

            </fieldset>

            <fieldset class="form-group">

                <div class="col-sm-12">
                    <label class="control-label" for="nif">REPARACION: </label>
                    <input type="text" class="form-control" formControlName="reparacion" name="reparacion" required=""/>
                </div>

            </fieldset>

            <fieldset class="form-group" style="margin-top: 5%;">
            
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" [disabled]="!perfileForm.valid">GUARDAR INCIDENCIA</button>
                    <button type="button" class="btn btn-primary" (click)="volver()" style="margin-left: 5%;">VOLVER</button>
                </div>
            
            </fieldset>
        </form>
    </div>
</div>
