h1 {
    text-align: center;
    margin:auto;
    margin-top: 2%;
    margin-bottom: 5%;
}

body{
    text-align: center;
}

#formulario {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

fieldset{
    text-align: center;
    margin-top: 3%;
}

.container{
    text-align: center;
    align-items: center;
}