<!--Aqui mostramos la lista de incidencias del servidor, ademas de incluir botones para filtrarlas-->
<div class='container'>
    <h1>LISTA DE INCIDENCIAS</h1>
    <div class='row'>
        <div class='col-sm-12'>
            <fieldset class='form-group col-sm-11'>
                <h3>FILTRAR POR:</h3>
                <button class= 'btn btn-primary' (click)="mostarRevisados()">REVISADO</button>
                <button class= 'btn btn-primary' (click)="mostarNoRevisados()">NO REVISADOS</button>
                <button class= 'btn btn-primary' (click)="mostrarTodos()">TODOS</button>
            </fieldset>
            <form class='form-inline'>

            </form>
            <br>
            <table class='table table-striped'>
                <thead>                
                    <tr>
                        <th class='col-sm-6'>AUTOR</th>
                        <th class='col-sm-6'>FECHA</th>
                        <th class='col-sm-6'>LUGAR</th>
                        <th class='col-sm-6'>DESCRIPCIÓN</th>
                        <th class='col-sm-6'>SUGERENCIA REPARACIÓN</th>
                        <th class='col-sm-6'>ESTADO</th>
                        <th class='col-sm-6'>REVISADO</th>
                    </tr>
                </thead>
                <tbody *ngIf="incidencias">
                    <tr *ngFor='let incidencia of incidencias'>
                        <td class='col-sm-6'>
                            <i>{{incidencia.autor}}</i>
                        </td>                       
                        <td class='col-sm-6'>
                            <i>{{incidencia.fecha}}</i>
                        </td>

                        <td class='col-sm-6'>
                            <i>{{incidencia.lugar}}</i>
                        </td>

                        <td class='col-sm-6'>
                            <i>{{incidencia.descripcion}}</i>
                        </td>

                        <td class='col-sm-6'>
                            <i>{{incidencia.reparacion}}</i>
                        </td>

                        <td class='col-sm-6'>
                            <i>{{incidencia.estado}}</i>
                        </td>

                        <td class='col-sm-6'>
                            <i *ngIf="incidencia.revisado == true">SI</i>
                            <i *ngIf="incidencia.revisado == false">NO</i>
                        </td>

                        <td *ngIf="incidencia.revisado == false">
                            <input class="form-check-input" type="checkbox" value="{{incidencia.revisado}}" id="revisado" [class.selected]="incidencia === incidenciaSelect"
                            (change)="cambiarEstado(incidencia.id)">
                            
                            <label for="revisado">REVISADO</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
