<div class="container">
    <h1>MODIFICAR INCIDENCIA</h1>
    <div class="col-sm-12">
        <!--Formulario con requerimientos, si no se rellenan todos los campos el boton no se activara-->
        <form [formGroup]="perfileForm" (ngSubmit)="guardar()">            
            <div>
                <label class="control-label" for="autor">AUTOR DEL REGISTRO: </label>
                <p>{{incidencia.autor}}</p>
            </div>

            <div>
                <label class="control-label" for="fecha">FECHA: </label>
                <p>{{incidencia.fecha}}</p>
            </div>

            <div>
                <label class="control-label" for="lugar">LUGAR: </label>
                <p>{{incidencia.lugar}}</p>
            </div>

            <div>
                <label class="control-label" for="descripcion">DESCRIPCION: </label>
                <p>{{incidencia.descripcion}}</p>
            </div>

            <div style="width: 250px; margin-left: 38%;">
                <label class="control-label" for="reparacion">REPARACION: </label>
                <input type="text" class="form-control" formControlName="reparacion" name="reparacion" required=""/>
            </div>

            <div style="width: 250px; margin-left: 38%;">
                <label class="control-label" for="estado">ESTADO: </label>
                <select type="select" class="form-control" formControlName="estado" name="estado" required="">
                    <option *ngFor="let estado of estadosIncidencia" [value]="estado">{{estado}}</option>
                </select>
            </div>

            <fieldset class="form-group" style="margin-top: 5%; margin-left: 15%;">
            
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" [disabled]="!perfileForm.valid">MODIFICAR INCIDENCIA</button>
                    <button type="button" class="btn btn-danger" *ngIf="!nuevaIncidencia" (click)="borrar(id)" style="margin-left: 5%;">BORRAR</button>
                    <button type="button" class="btn btn-primary" (click)="volver()" style="margin-left: 5%;">VOLVER</button>
                </div>
            
            </fieldset>
        </form>
    </div>
</div>

